@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;0,1000;1,200;1,400;1,700;1,900;1,1000&display=swap');

:root {
  --main-font: 'Nunito', san-serif;
  --accent: #F7D060;
  --X-color: #FF6D60;
  --O-color: #98D8AA;
}

/* https://youtu.be/oG6XPy1t1KA?t=120
(Adding Tailwind CSS to an Existing Project) */

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #e8e5e5;
  border: solid 1px black;
  font-family: var(--main-font);
}
.square_O {
  background-color: var(--O-color);
}
.square_X {
  background-color: var(--X-color);
}

.reset {
  margin-top: 2rem;
  text-align: center;
}
.reset button {
  font-size: 1rem;
  background-color: rgb(231, 221, 221);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: var(--main-font);
  text-align: center;
  transition: all ease 0.3s;
}
.reset button:hover {
  background-color: rgb(209, 192, 192);
  transition: all ease 0.3s;
}

h2 {
  font-size: 3rem;
  font-family: var(--main-font);
  margin-bottom: 5px;
}

.your-turn {
  font-size: 2rem;
  font-family: var(--main-font);
}
.lets-play {
  text-align: center;
  font-family: var(--main-font);
  margin-bottom: 10px;
}